@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgoldenrodyellow
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(32, 32, 32, 0.7);
}

form .title {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  font-family: "Noto Serif", serif;
  
}

form label {
  margin-bottom: 35px;
}
form label .fa-solid {
  font-size: 20px;
  margin-right: 10px;
}
form label input {
  outline: none;
  border: none;
  color: #000;
  border-bottom: solid 1px #000;
  padding: 0 5px;
  font-size: 18px;
}
form label input::placeholder {
  color: rgba(46, 44, 44, 0.8);
  font-family: "Noto Serif", serif;
}

form button {
  margin-top: 10px;
  color: #fff;
  border: none;
  background: #350a06;
  padding: 10px 100px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Noto Serif", serif;
}

form button .singIn {
  background-color: #fff;
}


#message {
  color: red;
  padding: 2px;
  text-align: center;
  display: none;
}
